* {
	/*border: 1px solid red !important;*/
	margin:0px;
	padding: 0px;
}

body, html {
	width: 100%;
	height: 100%;
}

.row {
	width: 100%;
	margin-right: 0px;
	margin-left: 0px;
}

html {
	scroll-behavior:smooth
}

ul{
  margin-left:20px;
}

ul ul{
  margin-left:20px;
}

.background-color {
	/*background-color: #F7EBE8;*/
	background-color: #1E1E24;
}

.transparent-background-color {
	background-color: rgba(247, 235, 232, 0.9);
}

#logo {
	height: 100%;
	width: 60px;
}

#hamburger-icon {
	font-size: 25px;
	color: #E54B4B;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.link-text a {
	font-family: 'Lora', serif;
	font-weight: 700;
	font-size: 18px;
	color: #444140;
}

.link-text a:hover {
	color: #E54B4B;
}

.header-text {
	font-family: 'Lora', serif;
	font-weight: 700;
	color: #1E1E24;
}

.body-text {
	font-family: 'Lora', serif;
	font-weight: 400;
	color: #1E1E24;
}

.highlight-text {
	color: #E54B4B;
}

#landing-page {
	background-color: #F7EBE8;
	height: 100vh;
	width: 100vw;
}

#landing-content {
	opacity: 0;  
	position: fixed;
	width: 80%;
}

#landing-content h1{
	font-size: 30px;
}

#landing-content h3{
	font-size: 22px;
}

#experience-page {
	background-color: #F7EBE8;
	min-height: 100vh;
	width: 100vw;
}

#experience-content {
	width: 80%;
}

#experience-content h2 {
	font-size: 25px;
}

#experience-content h4 {
	font-size: 18px;
}

#experience-content p {
	font-size: 15px;
}

.experience-time-text {
	font-family: 'Lora', serif;
	font-weight: 400;
	font-style: italic;
	color: #444140;
}

.experience-job-text {
	font-family: 'Lora', serif;
	font-weight: 400;
	color: #1E1E24;
}

.experience-job-text span {
	font-weight: 700;
}

#education-page {
	background-color: #F7EBE8;
	width: 100vw;
}

#visualisations-page {
	background-color: #F7EBE8;
	min-height: 100vh;
	width: 100vw;
}

#visualisation-content {
	width: 80%;
}

#visualisation-content h4 {
	font-family: 'Lora', serif;
	font-weight: 700;
	color: #1E1E24;
}

#visualisation-content h4 span {
	font-family: 'Lora', serif;
	font-weight: 400;
	font-style: italic;
	color: #444140;
}

#visualisation-content h2 {
	font-size: 25px;
}

#visualisation-content h4 {
	font-size: 18px;
}

#visualisation-content p {
	font-size: 15px;
}

#visualisation-content a:hover *{
	color: #E54B4B;
}

#visualisation-content a:hover{
	color: #E54B4B;
	text-decoration: none;
}

.blog-page {
	background-color: #F7EBE8;
	min-height: 100vh;
	width: 100vw;
}

.blog-content {
	width: 80%;
}

.blog-content h2 {
	font-family: 'Lora', serif;
	font-weight: 700;
	font-size: 25px; 
	color: #1E1E24;
}

.blog-content h4 {
	font-family: 'Lora', serif;
	font-weight: 700;
	font-size: 18px; 
	color: #1E1E24;
}

.blog-content h4 span {
	font-family: 'Lora', serif;
	font-weight: 400;
	font-style: italic;
	font-size: 18px; 
	color: #444140;
}

.blog-content p, ul {
	font-size: 15px;
}

footer {
	min-height: 150px;
	width: 100vw;
	background-color: #1E1E24;
}

footer .footer-text a {
	font-family: 'Lora', serif;
	font-weight: 700;
	font-size: 18px;
	color: #F7EBE8;
	text-decoration: none;
}

footer .footer-text a:hover {
	color: #E54B4B;
}

footer .footer-text p {
	font-family: 'Lora', serif;
	font-weight: 700;
	font-size: 18px;
	color: #F7EBE8;
}

footer #copyright {
	font-family: 'Lora', serif;
	font-weight: 400;
	font-size: 15px;
	color: #444140;
}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) { 

	#landing-content {
		width: 50%;
	}

	#experience-content {
		width: 50%;
	}

	.link-text a{
		font-size: 15px;
	}

	#landing-content h1{
		font-size: 38px;
	}

	#landing-content h3{
		font-size: 22px;
	}

	#experience-content h2 {
		font-size: 26px;
	}

	#experience-content h4 {
		font-size: 18px;
	}

	#experience-content p {
		font-size: 15px;
	}

	#visualisation-content {
		width: 50%;
	}

	#visualisation-content h2 {
		font-size: 26px;
	}

	#visualisation-content h4 {
		font-size: 18px;
	}

	#visualisation-content p {
		font-size: 15px;
	}

	.blog-content {
		width: 50%;
	}

	#blog-content h2 {
		font-size: 32px; 
	}

	#blog-content h4, h4 span {
		font-size: 18px; 
	}


	#blog-content p, ul {
		font-size: 15px;
	}

	footer .footer-text a, p {
		font-size: 15px;
	}

	footer #copyright {
		font-size: 12px;
	}

}

/* Larger devices */
@media (min-width: 1400px) { 

	#logo {
		width: 80px;
	}

	.link-text a{
		font-size: 18px;
	}

	#landing-content h1{
		font-size: 50px;
	}

	#landing-content h3{
		font-size: 28px;
	}

	#experience-content h2 {
		font-size: 30px;
	}

	#experience-content h4 {
		font-size: 22px;
	}

	#experience-content p {
		font-size: 17px;
	}

	#visualisation-content h2 {
		font-size: 30px;
	}

	#visualisation-content h4 {
		font-size: 22px;
	}

	#visualisation-content p {
		font-size: 17px;
	}

	.blog-content h2 {
		font-size: 40px; 
	}

	.blog-content h4, h4 span {
		font-size: 22px; 
	}

	.blog-content p, ul {
		font-size: 17px;
	}

	footer .footer-text a, p {
		font-size: 18px;
	}

	footer #copyright {
		font-size: 13px;
	}

}